<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial- scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cousine|Suranna&display=swap" rel="stylesheet">
    <title> <%= htmlWebpackPlugin.options.title %> </title>

</head>

<body>
    <header>
        <img id="site-logo" />
        <h1>Welcome to Sine Qua Non .</h1>
        <ul class="site-nav">
            <li><a href="https://github.com/thomasabishop/sinequanon" target="_blank">GitHub</a></li>
            <li><a href="https://github.com/thomasabishop/sinequanon/projects" target="_blank">Project Board</a></li>
            <li><a href="https://github.com/thomasabishop/sinequanon/projects" target="_blank">Changelog</a></li>
            <li><a href="https://github.com/thomasabishop/sinequanon/issues" target="_blank">Suggest Feature</a></li>
        </ul>
    </header>
    <h2>Installation successful. </h2>
    <h3> Suggested next steps.</h3>
    <div class="callout">
        <h4>Delete the project <code>.git</code> directory and initialise your own, setting an external origin. </h4>
    </div>
    <div class="callout">
        <h4>Update the site meta-data in <code>package.json</code> so that it reflects your project.</h4>
    </div>
    <div class="callout">
        <h4>Delete the contents of this file (<code>index.html</code>) ready for your own content.</h4>
    </div>
    <div class="callout">
        <h4>Import your assets.</h4>
    </div>
    <div class="callout">
        <h4>Customise your styles, installing a framework via <code>npm</code> if desired.</h4>
    </div>
    <div class="callout">
        <h4>Identify which packages you do not need and remove using <code>npm uninstall [package_name]</code>.</h4>
    </div>
</body>



</html>