body {
  color: $type;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $blue;
  color: white;
  padding: 2em;
}

.site-nav {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  font-size: 20px;

  li {
    display: inline;
    padding: 1rem;
  }
  a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;

    &:hover {
      color: #cd847f;
    }
  }
}

.callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
  border: 2px solid $blue;
  margin: 2rem;
  padding: 0.5rem;
}
