html {
  font-family: $roman-serif;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4em;
}

p {
  font-size: 28px;
}

code {
  font-family: "Cousine", monospace;
  font-size: 18px;
  background-color: lighten(yellow, 20%);
}
